*{
    margin: 0;
    padding: 0;
  font-family: 'Poppins' , 'sans-serif' ;
  /* box-sizing: border-box; */
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg , #00feba , #5b548a);
    color: #fff;
    margin: 10px auto 10vh;
    border-radius:20px ;
    padding: 40px 35px;
    text-align: center;

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border:0 ;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px; 
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border:0 ;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;

}

.weather h1{
    font: 80px;
    font-weight: 500;
}
.weather h2{
    font: 45px;
    font-weight: 400;
    margin-top: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px ;
    margin-top: 50px;
    
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top:-6px ;

}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size:14px ;
    margin-top: 10px;
    display: none;
}

main{
    height: 80vh;
    max-height: 80vh;
}
footer{
    max-height: 10vh;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 5vh;
    align-items: center;
    padding: 10px;

}

header ul{
    display: flex;
    list-style: none;

}

header ul li a{
    text-decoration: none;
    padding: 30px 15px;
    color: white;
}

@media only screen and (max-width:600px){
   header nav{
    flex-direction: column;
    gap: 12px;
    height: 10vh;
    }

    header .logo{
        padding-bottom: 5px;
    }

    main{
        height: 70vh;
    }
}